* { box-sizing: border-box; }

body { margin: 0; }

.turtle { background-color: #87b741;
  display: flex;
  flex-direction: column;
 }

.name {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.description,
.mask { padding: 20px;
  display: flex;
  justify-content: center;
  order: 3;
 }

.leonardo .mask { background-color: #65b7e7;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  order: 2;
 }
.raphael .mask { background-color: #ef3040;
  display: flex;
  justify-content: center;
  order: 2;
 }
.michelangelo .mask { background-color: #fcc257;
  display: flex;
  justify-content: flex-end;
  order: 2;
 }
.donatello .mask { background-color: #bd64a8;
  display: flex;
  justify-content: center;
 }

.leonardo .name { color: #65b7e7;
  display: flex;
  justify-content: center;
  order: 1;
 }
.raphael .name { color: #ef3040;
  display: flex;
  justify-content: center;
  order: 1;
 }
.michelangelo .name { color: #fcc257;
  display: flex;
  justify-content: center;
  order: 1;
}
.donatello .name { color: #bd64a8;
  display: flex;
  justify-content: center; }

.raphael ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.donatello ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width:750px){
  .turtle { background-color: #87b741;
    display: flex;
    flex-direction: column;
   }

  .name {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
  }

  .description,
  .mask { padding: 20px;
    display: flex;
    justify-content: center;
    order: 3;
   }

  .leonardo .mask { background-color: #65b7e7;
    display: flex;
    justify-content: center;
    order: 2;
   }
  .raphael .mask { background-color: #ef3040;
    display: flex;
    justify-content: center;
    order: 2;
   }
  .michelangelo .mask { background-color: #fcc257;
    display: flex;
    justify-content: center;
    order: 2;
   }
  .donatello .mask { background-color: #bd64a8;
    display: flex;
    justify-content: center;
   }

  .leonardo .name { color: #65b7e7;
    display: flex;
    justify-content: center;
    order: 1;
   }
  .raphael .name { color: #ef3040;
    display: flex;
    justify-content: center;
    order: 1;
   }
  .michelangelo .name { color: #fcc257;
    display: flex;
    justify-content: center;
    order: 1;
  }
  .donatello .name { color: #bd64a8;
    display: flex;
    justify-content: center;
  }

}
